@keyframes scrollGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-bg-scroll {
    background-size: 400% 400%;
    animation: scrollGradient 10s ease infinite;
  }