/* NewsletterSignup.css */

/* Animation for gradient text */
@keyframes textGradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-text-gradient {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    color: transparent;
    animation: textGradientAnimation 3s ease infinite;
  }
  
  /* Shiny and glowing button effect */
  .submit-btn {
    /* background: linear-gradient(90deg, #ff6b6b, #f8caca); */
    /* box-shadow: 0 4px 10px rgba(255, 105, 180, 0.8); */
    transition: all 0.3s ease;
  }
  
  .submit-btn:hover {
    /* background: linear-gradient(90deg, #ff9a8b, #f8caca); */
    /* box-shadow: 0 6px 20px rgba(255, 105, 180, 0.9); */
    transform: translateY(-2px);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .newsletter-section {
      padding: 10px;
    }
  
    .signup-form {
      padding: 6px;
    }
  
    .email-input, .submit-btn {
      font-size: 1.1rem;
    }
  }
  
  .signup-form {
    background: rgb(14, 13, 13);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(239, 242, 239, 0.1);
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .email-input {
    border: 1px solid #464242;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: border 0.3s ease;
  }
  
  .email-input:focus {
    border: 2px solid #fafafa;
  }
  
  /* Thank You Message */
  .thank-you-message {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  